{% extends "dashboard/base.html" %}
{% load static %}
{% block title %}Category Management| Dashboard{% endblock %}
{% block body %}
<!--  Body Wrapper -->
<div class="page-wrapper" style='background-color: white;' id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    {% include "dashboard/sidebar.html" %}
    <!--  Main wrapper -->
    <div class="body-wrapper">
        <!--  Header Start -->
        {% include "dashboard/navbar.html" %}
        <!--  Header End -->
        <div class="container" style="padding-top: 70px;">
            <div class="flex-w flex-sb-m p-b-52">
                <div class="flex-w flex-l-m m-tb-10" data-bs-toggle="modal" data-bs-target="#addmodal">
                    <div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 ">
                         Add
                    </div>
                </div>
                <div class="flex-w flex-c-m m-tb-10">
                    <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
                        <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                        <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                        Search
                    </div>
                </div>
                
                <!-- Search product -->
                <div class="dis-none panel-search w-full p-t-10 p-b-15">
                    <div class="bor8 dis-flex p-l-15">
                        <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                            <i class="zmdi zmdi-search"></i>
                        </button>
    
                        <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="search" id="search-input"  placeholder="Search">
                    </div>	
                </div>
            </div>
            {{form.non_field_errors }}
            {{form.field_error }}
            <div class="d-flex justify-content-between align-items-center ">
                <div class="modal fade " id="addmodal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Category</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <form action="{%url 'Category'%}" id="Category-forms"
                                    enctype="multipart/form-data" method="POST">
                                    {% csrf_token %}
                                    <div style="width: 100px;"
                                    class="card-header Product-img position-relative overflow-hidden bg-transparent border p-0">
                                    <img class="img-fluid w-100"
                                        src="" alt=""  id="image-preview" style="display: none;">
                                     </div>
                                    <div class="form-outline mb-2">
                                        <input name="image" type="file" accept="image/png, image/jpeg, image/svg"
                                            class="form-control" id="image-input" onchange="previewImage()"/>
                                        <small id="image-error" class="text-danger text-center "></small>
                                        {{ form.image.errors }}
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example3cg">Name</label>
                                        <input name='name' type="text" id="form3Example3cg"
                                            class="form-control form-control-lg" />
                                        <small id="name-error" class="text-danger ps-2 text-center"></small>
                                        {{ form.name.errors }}
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <button type="submit"
                                            class="btn btn-primary btn-lg gradient-custom-4 w-50 text-light"
                                            type="submit">Save Changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
            <div>
                <div class="col-12">
                    <div class="card recent-sales overflow-auto">
                        <div class="card-body">

                            <table class="table table-borderless datatable refresh" id="search-results">
                                <thead>
                                    <tr>
                                        <th scope="col">id</th>
                                        <th scope="col">image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Created at</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>

                                {% for category in category_data %}
                                <tr>
                                    <td> {{category.id}} </td>
                                    <td>
                                        <div style="width: 60px;" class="overflow-hidden">
                                            <img class="w-100" src=" {{category.cropped_image.url}} " alt="">
                                        </div>
                                    </td>
                                    <td> {{category.name}} </td>
                                    <td> {{category.created_at}} </td>
                                    <!-- edit -->
                                    <td>
                                        <!-- Button trigger modal -->
                                        <a type="button" class="fs-4 btn hov-btn3 border" data-bs-toggle="modal"
                                            data-bs-target="#updatemodal{{category.id}}">
                                            <i title="" class="fa fa-edit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                              </svg></i>
                                        </a>
                                        <!--Edit Modal -->
                                        <div class="modal fade" id="updatemodal{{category.id}}" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">

                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit
                                                            Category</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form method="post" action="{% url 'Category' %}"
                                                            enctype="multipart/form-data"
                                                            id="Categoryupdated-forms{{category.id}}">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="id" id="category_id"
                                                                value="{{category.id}}">
                                                            <input type="hidden" name="methods" value="put">
                                                            <div style="width: 100px;"
                                                                class="card-header category-img position-relative overflow-hidden bg-transparent border p-0">
                                                                <img class="img-fluid w-100"
                                                                    src="{{category.cropped_image.url}} " alt="">
                                                            </div>

                                                            <div class="form-outline mb-2">
                                                                <input name="image" type="file"
                                                                    accept="image/png, image/jpeg, image/svg"
                                                                    class="form-control" id="image-inputs" />
                                                                <small id="image-error{{category.id}}"
                                                                    class="text-danger text-center"></small>
                                                            </div>

                                                            <div class="form-outline mb-4">
                                                                <label class="form-label" for="form3Example3cg">Sub
                                                                heading</label>
                                                                <input name='name'
                                                                    value="{{category.name}}" type="text"
                                                                    id="form3Example3cg"
                                                                    class="form-control form-control-lg" />
                                                                <small id="name-error{{category.id}}"
                                                                    class="text-danger text-center"></small>
                                                            </div>
                                                            
                                                            <div class="d-flex justify-content-center">
                                                                <button type="submit"
                                                                    class="btn btn-danger btn-lg gradient-custom-4 w-50 text-light category-update-btn"
                                                                    data-category-id="{{category.id}}" type="submit">Save
                                                                    Changes</button>
                                                            </div>

                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Button trigger modal -->

                                        <button type="button" class="btn hov-btn3 border" data-bs-toggle="modal"
                                            data-bs-target="#deletemodal{{category.id}}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                              </svg>
                                        </button>
                                        <!-- Modal  for delete the Category -->
                                        <div class="modal fade" id="deletemodal{{category.id}}" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body ">
                                                        <p style="font-size: medium;">Are you sure you want to delete this category
                                                            <span class="text-danger"
                                                                style="font-weight: bold;">'{{category.name}}'</span>   ?</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <form method="POST" action="{%url 'Category' %}"
                                                            id="deletefoms-forms{{category.id}}">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="id" id="delete_id"
                                                                value="{{category.id}}">
                                                            <input type="hidden" name="methods" value="delete">
                                                            <button type="submit"
                                                                class="btn btn-danger">Confirm</button>
                                                        </form>
                                                        <button type="button" class="btn hov-btn3"
                                                            data-bs-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    </td>
                                    <!--deleting ended-->
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!-- End Recent Sales -->
            </div>
        </div>
    </div>

    <!-- Include jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        // Add Function
        $(document).ready(function () {
            $('#Category-forms').submit(function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: new FormData(this),
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        $('.refresh').load(location.href + " .refresh");
                        if (response.success) {
                            $('#addmodal').modal('hide');
                            $('#Category-forms')[0].reset();
                            $("#image-preview").css("display", "none");
                        } else {
                            updateErrorMessages(response.errors);
                        }
                    },
                    error: function (xhr, status, error) {
                        alert('Something wrong')
                    }
                });
            });
        });

        function updateErrorMessages(errors) {
            if (errors.image) {
                $('#' + 'image-error').text(errors.image);
            } else {
                $('#' + 'image-error').text('')
            }
            if (errors.name) {
                $('#' + 'name-error').text(errors.name);
            } else {
                $('#' + 'name-error').text('')
            }
           
        }
        // Updating Function
        $(document).ready(function () {
            $(document).on('submit', '[id^="Categoryupdated-forms"]', function (e) {
                e.preventDefault();

                var id = $(this).find('#category_id').val();
                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: new FormData(this),
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response.success) {
                            $('.refresh').load(location.href + " .refresh");
                            $('#updatemodal' + id).modal('hide');
                            $('#Categoryupdated-forms' + id)[0].reset();
                        } else {
                            if (response.errors.image) {
                                $('#' + 'image-error' + id).text(response.errors.image);
                            } else {
                                $('#' + 'image-error' + id).text('')
                            }
                            if (response.errors.name) {
                                $('#' + 'name-error' + id).text(response.errors.name);
                            } else {
                                $('#' + 'name-error' + id).text('')
                            }
                        }
                    },
                    error: function (xhr, status, error) {
                        alert('Something wrong');
                    }
                });
            });

        });

        // Deleting Function
        $(document).ready(function () {
            $(document).on('submit', '[id^="deletefoms-forms"]', function (e) {
                e.preventDefault();

                var id = $(this).find('#delete_id').val();
                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: new FormData(this),
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response.success) {
                            $('.refresh').load(location.href + " .refresh");
                            $('#deletemodal' + id).modal('hide');
                            $('#Categoryupdated-forms' + id)[0].reset();
                        } else {
                            alert('Something wrong');
                        }
                    },
                    error: function (xhr, status, error) {
                        alert('Something wrong');
                    }
                });
            });

        });
        // Searching function

        $(document).ready(function () {
        $("#search-input").on("keyup", function (e) {
            if (e.keyCode === 13) {
                Search();
            } else {
                clearTimeout($(this).data("timeout"));
                $(this).data("timeout", setTimeout(Search, 500)); 
            }
        });

        function Search() {
            var query = $("#search-input").val();
            $.ajax({
                type: "GET",
                url: "{%url 'Category'%}",
                data: { "query": query , "methods":'search'},
                success: function (data) {
                    $("#search-results").html(data);
                }
            });
        }
        
    });
   
    // Image-show
    function previewImage() {
        var input = document.getElementById('image-input');
        var preview = document.getElementById('image-preview');
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    </script>

    {% endblock %}