{% extends "dashboard/base.html" %}
{% load static %}
{% block title %}About | Dashboard{% endblock %}
{% block body %}
<!--  Body Wrapper -->
<div class="page-wrapper" style="background-color: white;" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    {% include "dashboard/sidebar.html" %}
    <!--  Main wrapper -->
    <div class="body-wrapper">
        <!--  Header Start -->
        {% include "dashboard/navbar.html" %}
        <!--  Header End -->
        <div class="container" style="padding-top: 70px;">
           <div class="flex-w flex-sb-m p-b-52">
        </div>
            <div>
                <div class="col-12 container refresh">
                    <div class="card recent-sales overflow-auto">
                        <div class="card-body">
                            <!-- Content page -->
                            <div class="row pb-5">
                                <!-- Add button -->
                                <div class="d-flex justify-content-between">
                                    <h3 class="mtext-111 cl2 p-b-16">
                                        Our Story
                                    </h3>
                                    <button class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-b-4"  data-bs-toggle="modal" id="editButton" data-bs-target="#addmodal">
                                        {% if story_data %}
                                        Edit
                                        {% else %}
                                        Add
                                        {% endif %}
                                   </button>
                                </div>
                                 <!-- Add modal -->
                                    <div class="d-flex justify-content-between align-items-center ">
                                        <div class="modal fade  modal-lg" id="addmodal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                            aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Our Story</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                        <div class="modal-body">
                                                                {% if story_data %}
                                                                <form action="{%url 'About_Dashboard'%}" id="about-story-forms"
                                                                enctype="multipart/form-data" method="POST">
                                                                {% else %}
                                                                <form action="{%url 'About_Dashboard'%}" id="about-story-forms"
                                                                enctype="multipart/form-data" method="POST">
                                                                {% endif %}
                                                                {% csrf_token %}
                                                                <input type="hidden" name="id" value="{{story_data.id}}">
                                                                <div style="width: 100px;"
                                                                class="card-header Product-img position-relative overflow-hidden bg-transparent border p-0">
                                                                <img class="img-fluid w-100"
                                                                    src="" alt=""  id="image-preview" style="display: none;">
                                                                </div> 
                                                                <small id="image-error" class="text-danger text-center "></small>
                                                                <small id="body-error" class="text-danger text-center "></small>      
                                                                {{ form.media }}
                                                                {{ form.as_p }}
                                                                {{ form.body.errors }}
                                                                <div class="d-flex justify-content-center">
                                                                    <button type="submit"
                                                                        class="btn btn-primary btn-lg gradient-custom-4 w-20 text-light"
                                                                        type="submit">Save Changes</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Add modal -->
                                <!-- End Add button -->
                                <!-- Our story card -->
                                {% if story_data %}
                                <div class="col-md-7 col-lg-8">
                                    <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                                        <p class="stext-113 cl6 p-b-26">
                                            {{story_data.body |safe}}
                                        </p>
                                    </div>
                                </div>
                
                                <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                                    <div class="how-bor1 ">
                                        <div class="hov-img0">
                                            <img src="{{story_data.cropped_image.url}}" alt="IMG">
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                <!-- End Our story card -->
                            </div>
                        </div>
                    </div>
                    
                    <div class="card recent-sales overflow-auto">
                        <div class="card-body">
                            <div class="row">
                                <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                                    <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                                        <h3 class="mtext-111 cl2 p-b-16">
                                            Our Mission
                                        </h3>
                
                                        <p class="stext-113 cl6 p-b-26">
                                            Mauris non lacinia magna. Sed nec lobortis dolor. Vestibulum rhoncus dignissim risus, sed consectetur erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam maximus mauris sit amet odio convallis, in pharetra magna gravida. Praesent sed nunc fermentum mi molestie tempor. Morbi vitae viverra odio. Pellentesque ac velit egestas, luctus arcu non, laoreet mauris. Sed in ipsum tempor, consequat odio in, porttitor ante. Ut mauris ligula, volutpat in sodales in, porta non odio. Pellentesque tempor urna vitae mi vestibulum, nec venenatis nulla lobortis. Proin at gravida ante. Mauris auctor purus at lacus maximus euismod. Pellentesque vulputate massa ut nisl hendrerit, eget elementum libero iaculis.
                                        </p>
                
                                        <div class="bor16 p-l-29 p-b-9 m-t-22">
                                            <p class="stext-114 cl6 p-r-40 p-b-11">
                                                Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn't really do it, they just saw something. It seemed obvious to them after a while.
                                            </p>
                
                                            <span class="stext-111 cl8">
                                                - Steve Job’s 
                                            </span>
                                        </div>
                                    </div>
                                </div>
                
                                <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                                    <div class="how-bor2">
                                        <div class="hov-img0">
                                            <img src="{% static "images/about-02.jpg" %}" alt="IMG">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
    <!-- Include jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        function handleButtonClick() {
            var idBodyElements = document.getElementsByClassName('body');
            console.log(idBodyElements);
            var storyData = "daxooooo"
            if (storyData) {

                idBodyElements.value = storyData
        }
        }

        var editButton = document.getElementById('editButton');

        editButton.addEventListener('click', handleButtonClick);

    </script>
        
        
    <script>
        // Add Function
        $(document).ready(function () {
            $('#about-story-forms').submit(function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: new FormData(this),
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response.success) {
                            $('.refresh').load(location.href + " .refresh");
                            $('#addmodal').modal('hide');
                            $('#about-story-forms')[0].reset();
                            $("#image-preview").css("display", "none");
                        } else {
                            updateErrorMessages(response.errors);
                        }
                    },
                    error: function (xhr, status, error) {
                        alert('Something wrong')
                    }
                });
            });
        });

        function updateErrorMessages(errors) {
            console.log(errors,'daxooo');
            if (errors.image) {
                $('#' + 'image-error').text(errors.image);
            } else {
                $('#' + 'image-error').text('')
            }
            if (errors.body) {
                $('#' + 'body-error').text(errors.body);
            } else {
                $('#' + 'body-error').text('')
            }
        }

    // Image-show
    function previewImage() {
        var input = document.getElementById('image-input');
        var preview = document.getElementById('image-preview');
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
    </script>
    {% endblock %}