{% extends "user/base.html" %} 
{% load static %}
{% block title %}Projects | Fst kichen equipments{% endblock %} {% block body %}

<div style="height: 7%" class="space-div"></div>
<div class="bg0 m-t-23 " style="margin-top: 10px">
    <!-- Title page -->
    <section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('{% static "images/projects.jpg"%}');">
		<h2 class=" ltext-105 cl0 txt-center">
        Projects
        </h2>
    </section>
    <!-- Content page -->
    <section class="bg0 p-t-75 p-b-120 container main-div" >
       
    </section>
</div>
{% endblock %}