<thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">image</th>
        <th scope="col">Sub heading</th>
        <th scope="col">Main heading</th>
        <th scope="col">Actions</th>
    </tr>
</thead>

{% for bgimage in bgimages_data %}

<tr>
    <td> {{bgimage.id}} </td>
    <td>
        <div style="width: 60px;" class="overflow-hidden">
            <img class="w-100" src="{{bgimage.image.url}}" alt="">
        </div>
    </td>
    <td> {{bgimage.sub_heading}} </td>
    <td> {{bgimage.main_heading}} </td>
    <!-- edit -->
    <td>
        <!-- Button trigger modal -->
        <a type="button" class="fs-4 btn btn-warning" data-bs-toggle="modal"
            data-bs-target="#updatemodal{{bgimage.id}}">
            <i title="" class="fa fa-edit">edit</i>
        </a>
        <!--Edit Modal -->
        <div class="modal fade" id="updatemodal{{bgimage.id}}" tabindex="-1"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit
                            Category</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{% url 'BackgroudImages' %}"
                            enctype="multipart/form-data"
                            id="backgroudimagesupdated-forms{{bgimage.id}}">
                            {% csrf_token %}
                            <input type="hidden" name="id" id="bgimage_id"
                                value="{{bgimage.id}}">
                            <input type="hidden" name="methods" value="put">
                            <div style="width: 100px;"
                                class="card-header category-img position-relative overflow-hidden bg-transparent border p-0">
                                <img class="img-fluid w-100"
                                    src="{{bgimage.image.url}} " alt="">
                            </div>

                            <div class="form-outline mb-4">
                                <input name="image" type="file"
                                    accept="image/png, image/jpeg, image/svg"
                                    class="form-control" id="image-inputs" />
                                <small id="image-error{{bgimage.id}}"
                                    class="text-danger text-center"></small>
                            </div>

                            <div class="form-outline mb-4">
                                <input name='sub_heading'
                                    value="{{bgimage.sub_heading}}" type="text"
                                    id="form3Example3cg"
                                    class="form-control form-control-lg" />
                                <label class="form-label" for="form3Example3cg">Sub
                                    heading</label>
                                <small id="sub_heading-error{{bgimage.id}}"
                                    class="text-danger text-center"></small>
                            </div>
                            <div class="form-outline mb-4">
                                <input name='main_heading'
                                    value="{{bgimage.main_heading}}" type="text"
                                    id="form3Example3cg"
                                    class="form-control form-control-lg" />
                                <label class="form-label" for="form3Example3cg">Main
                                    heading</label>
                                <small id="main_heading-error{{bgimage.id}}"
                                    class="text-danger text-center"></small>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="submit"
                                    class="btn btn-danger btn-lg gradient-custom-4 w-50 text-light bgimage-update-btn"
                                    data-bgimage-id="{{bgimage.id}}" type="submit">Save
                                    Changes</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Button trigger modal -->

        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
            data-bs-target="#deletemodal{{bgimage.id}}">
            Delete
        </button>
        <!-- Modal  for delete the Category -->
        <div class="modal fade" id="deletemodal{{bgimage.id}}" tabindex="-1"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body ">
                        <p style="font-size: large;">Are you sure you want to delete
                            <span class="text-danger"
                                style="font-weight: bold;">'{{bgimage.main_heading}}'</span></p>
                    </div>
                    <div class="modal-footer">
                        <form method="POST" action="{%url 'BackgroudImages' %}"
                            id="deletefoms-forms{{bgimage.id}}">
                            {% csrf_token %}
                            <input type="hidden" name="id" id="delete_id"
                                value="{{bgimage.id}}">
                            <input type="hidden" name="methods" value="delete">
                            <button type="submit"
                                class="btn btn-danger">Confirm</button>
                        </form>
                        <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </td>


    </td>
    <!--deleting ended-->

</tr>
{% endfor %}
</tbody>