{% load static %}
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div>
      <div class="brand-logo d-flex align-items-center justify-content-between" >
        <a href="{%url 'DashboardHome' %}" class="text-nowrap logo-img" >
          <img src="{% static "images/logos/dark-logo.png" %}" width="120" alt="" />
        </a>
        <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
          <i class="ti ti-x fs-8"></i>
        </div>
      </div>
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
        <ul id="sidebarnav">
          <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Home</span>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="{%url 'DashboardHome'%}" aria-expanded="false">
              <span>
                <i class="ti ti-layout-dashboard"></i>
              </span>
              <span class="hide-menu">Dashboard</span>
            </a>
          </li>
          <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Pages</span>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="{%url 'BackgroudImages'%}" aria-expanded="false">
              <span>
                <i class="ti ti-article"></i>
              </span>
              <span class="hide-menu">Bg Image Management</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="{%url 'Category'%}" aria-expanded="false">
              <span>
                <i class="ti ti-file-description"></i>
              </span>
              <span class="hide-menu">Category Management</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="{%url 'Product'%}" aria-expanded="false">
              <span>
                <i class="ti ti-cards"></i>
              </span>
              <span class="hide-menu">Products Management</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="{%url 'Clients_View' %}" aria-expanded="false">
              <span>
                <i class="ti ti-file-description"></i>
              </span>
              <span class="hide-menu">Our Clients</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="{%url 'Careers_Dashboard'%}" aria-expanded="false">
              <span>
                <i class="ti ti-typography"></i>
              </span>
              <span class="hide-menu">Carees</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="{%url 'Contacts_dashboard'%}" aria-expanded="false">
              <span>
                <i class="ti ti-user-plus"></i>
              </span>
              <span class="hide-menu">Contacts</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="{%url 'About_Dashboard'%}" aria-expanded="false">
              <span>
                <i class="ti ti-typography"></i>
              </span>
              <span class="hide-menu">About Page</span>
            </a>
          </li>
         
        </ul>
       
      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>
  <!--  Sidebar End -->