{% extends "user/base.html" %}
{% load static %}
{% block title %}Products | Fst kichen equipments{% endblock %}
{% block body %}
<!-- Product -->
<div style="height: 6%;" class="space-div">
</div>
<hr class="horizontal-line">
	<div class="bg0 m-t-23 p-b-140" style="margin-top: 10px;">
		<div class="container">
			<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">
					<button data-category="all"  class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1 category-link" data-filter="*">
						All Products
					</button>
				</div>
				
				<div class="flex-w flex-c-m m-tb-10">
					<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
						<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
						<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						 Filter
					</div>
					<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
						<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
						<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Search
					</div>
				</div>
				
				<!-- Search product -->
				<div class="dis-none panel-search w-full p-t-10 p-b-15">
					<div class="bor8 dis-flex p-l-15">
						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>

						<input class="mtext-107 cl2 size-114 plh2 p-r-15 " type="text" name="search-product" id='search-input' placeholder="Search">
					</div>	
				</div>
				<div class="dis-none panel-filter w-full p-t-10 ">
					<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
						<div class="mb-3">
							<div class="flex-w p-t-4 m-r--5">
								<a href="#" data-category="all" class="select-item flex-c-m hov-btn3 cl6 size-301 bor7 p-lr-15 trans-04 m-r-5 m-b-5 category-link">
									All
								</a>
								{% for category in data_list.category_data %}
                                <a href="#" data-category="{{category.id}}" class="select-item flex-c-m hov-btn3 cl6 size-301 bor7 p-lr-15 trans-04 m-r-5 m-b-5 category-link">
									{{category.name}}
								</a>
                                {% endfor %}

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- category data -->
			<div id="search-results">
			<input type="hidden" value="{{data_list.category_id}}" id="category_id">
			<div class="row isotope-grid">
				{% for product in data_list.products_data %}
			<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
				<!-- Block2 -->
				<div class="block2">
					<div class="block2-pic hov-img0">
						<img src="{{product.image.url}}" alt="IMG-PRODUCT">

						{% comment %} <a href="#" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
							Quick View
						</a>  {% endcomment %}
					</div>

					<div class="block2-txt flex-w flex-t p-t-14">
						<div class="block2-txt-child1 flex-col-l ">
                            <span class="stext-105 cl3"style="font-size: small !important;" >
                                {{product.category.name}}
                            </span>
                            <button style="color: rgb(39, 35, 35);" class=" cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                {{product.name}}
                            </button>

                        </div>
					</div>
				</div>
			</div>			
			{% endfor %}
			</div>
		</div>

			<!-- Load more -->
			<div class="flex-c-m flex-w w-full p-t-45">
				<a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
					Load More
				</a>
			</div>
		</div>
	</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
	$(document).ready(function () {	
		// Searching function
		$("#search-input").on("keyup", function (e) {
			if (e.keyCode === 13) {
				Search();
			} else {
				clearTimeout($(this).data("timeout"));
				$(this).data("timeout", setTimeout(Search, 500)); 
			}
		});
	
		function Search() {
			var query = $("#search-input").val();
			$.ajax({
				type: "GET",
				url: "{%url 'Product_List' %}",
				data: { "query": query, "methods": 'search', 'category_id': $("#category_id").val() },
				success: function (data) {
					$("#search-results").html(data);
				}
			});
		}
	
		// Category change function
		$(".category-link").on("click", function (e) {
			e.preventDefault();
			var categoryId = $(this).data("category");
			$("#category_id").val(categoryId); 
			$.ajax({
				type: "GET",
				url: "{% url 'Product_List' %}",
				data: { "category_id": categoryId, "methods": 'category' },
				success: function (data) {
					$("#search-results").html(data);
				}
			});
		});
	});
</script>
{% endblock %}