{% load static %}
<style>
    @media only screen and (max-width: 990px) {
        .foot-top-padding{
            padding-top: 0%;
        }
    }
</style>
<footer class="bg3  p-b-32">
    <div class="container">
        <div class="row" style="padding-left: 6%;padding-right: 6%;">
            <div class="col-sm-12 p-t-40 col-lg-6 p-b-50" style="padding-top: -10%;">
                <img src="{% static "images/logos/logo.png" %}" style="max-width: 150px; max-height: max-content;" alt="IMG-LOGO">
                <p class="stext-107 cl7">
                    FST Kitchen Equipments: Crafting Culinary Excellence Since 2024
                    
                    Welcome to FST Kitchen Equipments, where innovation meets quality. Established in 2024, we are India's rising star in Commercial Kitchen Equipment and Display Solutions. Our logo proudly serves hotels and restaurants nationwide, transforming culinary experiences.
                    
                    Join us in redefining the art of cooking.</p>
               
                    <div class="p-t-27">
                        <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-facebook"></i>
                        </a>
    
                        <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-instagram"></i>
                        </a>
    
                        <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-whatsapp" aria-hidden="true"></i>
                        </a>
                    </div>
            </div>

            <div class="col-sm-12 p-t-75 foot-top-padding  col-lg-2 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Opening Time
                </h4>

                <ul>
                    <li class="p-b-10">
                        <p class="stext-107 cl7">
                            Mon to Fri : 9AM - 6PM
                        </p>
                    </li>

                    <li class="p-b-10">
                        <p href="#" class="stext-107 cl7">
                            Sat : 8AM - 5PM 
                        </p>
                    </li>

                    <li class="p-b-10">
                        <p class="stext-107 cl7">
                            Sun : Closed
                        </p>
                    </li>
                    <li style="color: white; font-size: small;font-weight: 600;">
                        We Work All The Holidays
                    </li>
                </ul>
            </div>

            <div class="col-sm-12 p-t-75 foot-top-padding col-lg-2 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Sitemaps
                </h4>
               <ul>
                <li class="p-b-10">
                    <a href="{%url 'Category_List' %}" class="stext-107 cl7 hov-cl1 trans-04">
                        Products
                    </a>
                </li>
                <li class="p-b-10">
                    <a href="{%url 'About_Us' %}" class="stext-107 cl7 hov-cl1 trans-04">
                        About Us
                    </a>
                </li>
                <li class="p-b-10">
                    <a href="{%url 'Projects_Page' %}" class="stext-107 cl7 hov-cl1 trans-04">
                        Projects
                    </a>
                </li>
                <li class="p-b-10">
                    <a href="{%url 'Careers_Page' %}" class="stext-107 cl7 hov-cl1 trans-04">
                        Careers
                    </a>
                </li>
                <li class="p-b-10">
                    <a href="{%url 'Contact_Page' %}" class="stext-107 cl7 hov-cl1 trans-04">
                        Contact Us
                    </a>
                </li>
               </ul>

            </div>

            <div class="col-sm-12 p-t-75 foot-top-padding col-lg-2 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Contact US
                </h4>
                <div class="d-flex stext-107 cl7 hov-cl1 trans-04 " style="gap: 1%;">
                    <i class="fa fa-map-marker mt-1" aria-hidden="true"></i>
                    <div>
                        <p>FST kichen Equipments</p>
                        <P>India</P>
                    </div>
                </div>
                <div class="d-flex stext-107 cl7" style="gap: 1%;">
                    <i class="fa fa-phone mt-1" aria-hidden="true"></i>
                    <div>
                        <p class=" hov-cl1 trans-04 mt-2">+91 9562040856</p>
                        <p class=" hov-cl1 trans-04 mt-2">+91 9562040856</p>
                        <p class=" hov-cl1 trans-04 mt-2">+91 9562040856</p>
                        <p class=" hov-cl1 trans-04 mt-2">+91 9562040856</p>
                    </div>
                </div>
            </div>
        </div>

        
{% comment %} 
            <p class="stext-107 cl6 txt-center">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

            </p> {% endcomment %}
        </div>
    </div>
</footer>


<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
    <span class="symbol-btn-back-to-top">
        <i class="zmdi zmdi-chevron-up"></i>
    </span>
</div>